@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Add a new flavor</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)
  <input type="submit" value="Add new flavor" class="accept" />
}
<p>@Html.ActionLink("Show all flavors", "Index", new { area = "" }, new { @class = "accept" })</p>