@{
  Layout = "_Layout";
}

@using Pierre.Models;

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
  <h3>No flavors have been added yet!</h3>
} 

<ul>
  @foreach(Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId }, new { @class = "name"} )</li>
  }
</ul>

<p>@Html.ActionLink("Add new flavor", "Create", new { area = "" }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "accept" })</p>